[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
botocore = "*"
click = "*"
jmespath = "*"
lark-parser = "*"
python-dateutil = "*"
python-hcl2 = "*"
s3transfer = "*"
six = "*"
urllib3 = "*"
GitPython = "*"

[requires]
python_version = "3.8"
